In [1]:
# 예제 1

a = [1,2,3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [2]:
# 예제 2

class Gizmo:
  def __init__(self) :
    print('Gizmo id: %d' % id(self))

x = Gizmo()

Gizmo id: 132444900459232

In [3]:
y = Gizmo() * 10

Gizmo id: 132444900466816

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [4]:
dir()

['Gizmo',
 'In',
 'Out',
 '_',
 '_1',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'quit',
 'x']

In [5]:
# 예제 3

charles = {'name': 'Charles L. Dodgson', 'born': 1832}
lewis = charles

In [6]:
lewis is charles

True

In [7]:
id(charles), id(lewis)

(132444899649280, 132444899649280)

In [8]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [9]:
# 예제 4

alex = {'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}
alex == charles

True

In [10]:
alex is charles

False

In [15]:
# 예제 5

t1 = (1,2,[30,40])
t2 = (1,2,[30,40])
t1 == t2, t1 is t2

(True, False)

In [16]:
id(t1[-1])

132444902249344

In [17]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 132444902249344)

In [18]:
t1 == t2

False

In [19]:
# 예제 6-1

l1 = [3,[55,44],(7,8,9)]
l2 = list(l1)
l2

[3, [55, 44], (7, 8, 9)]

In [20]:
l2 == l1

True

In [21]:
l2 is l1

False

In [22]:
# 예제 6-2

l1 = [3,[66,55,44],(7,8,9)]
l2 = list(l1)

In [23]:
l1.append(100)

In [24]:
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [25]:
l2[1]+=[33,22]

In [27]:
l2[2] += (10,11)

print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [28]:
# 예제 7

class Bus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [29]:
# 예제 8

import copy
bus1 = Bus(['Alice','Bill','Claire','David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(132444900465904, 132444900474400, 132444900461392)

In [30]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [31]:
id(bus1.passengers),id(bus2.passengers),id(bus3.passengers)

(132445589835776, 132445589835776, 132444899642496)

In [32]:
# 예제 9

a = [10,20]
b = [a,30]
a.append(b)
a

[10, 20, [[...], 30]]

In [33]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [34]:
# 예제 10

def f(a,b):
  a += b
  return a

In [35]:
x=1
y=2
f(x,y),(x,y)

(3, (1, 2))

In [36]:
a = [1,2]
b = [3,4]
f(a,b), (a,b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [37]:
t = (10,20)
u = (30,40)
f(t,u), (t,u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [38]:
# 예제 11

class HauntedBus:
  """유령 승객이 출몰하는 버스 모델"""

  def __init__(self, passengers=[]):
    self.passengers = passengers

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [39]:
# 예제 12

bus1 = HauntedBus(['Alice','Bill'])
bus1.passengers

['Alice', 'Bill']

In [40]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [41]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [42]:
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [43]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [44]:
bus2.passengers is bus3.passengers

True

In [45]:
bus1.passengers

['Bill', 'Charlie']

In [46]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [47]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

In [48]:
# 예제 13

class TwilightBus:
  """승객이 사라지게 만드는 버스 모델"""

  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = passengers

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [49]:
# 예제 14

basketball_team = ['Sue','Tina','Maya','Diana','Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [50]:
# 예제 15

class TwilightBus:
  """승객이 사라지게 만드는 버스 모델"""

  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [51]:
# 예제 16

basketball_team = ['Sue','Tina','Maya','Diana','Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [52]:
# 예제 17

import weakref
s1 = {1,2,3}
s2 = s1
def bye():
  print('Gone with the wind...')

ender = weakref.finalize(s1,bye)
ender.alive

True

In [53]:
del s1
ender.alive

True

In [57]:
s2 = 'spam'

In [58]:
ender.alive

False